/*------ Fonts ------*/

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Roman.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/HelveticaNeueCyr-Roman.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg'); /* Legacy iOS */
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/HelveticaNeueCyr-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-BoldHelveticaNeueCyr-Roman') format('svg'); /* Legacy iOS */
       font-weight: bold;
       font-style: normal;
}

/* ------ Specification ------ */

body {
  font-family: 'HelveticaNeueCyr', sans-serif;
  padding: 0;
  margin: 0;
  color: #202020;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: bold;
  
}

h4 {
  font-size: 18px;
}

div, p, form, input, a, span, button, {
  box-sizing: border-box;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

a, a:hover, a:active {
  text-decoration: none;
}

a, button, input {
  transition: all 0.5s ease;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active {
  outline: none;
}

.container {
  margin: 0 auto;
  width: 1170px;
}

.d-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.btn {
  color: #fff;
  text-align: center;
  display: block;
  width: 290px;
  box-shadow: 0 0 17px 4px rgba(255, 186, 0, 0.4);
  background: #ffba00;
  padding: 20px 0 17px;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

/* ------------ Header ------------ */

.header {
  background: url(../img/Geometric.png)no-repeat 44%,  /*Drawing geometric shapes*/
              url(../img/Background.png)no-repeat top center / contain;  /*Drawing cubes and photos*/
  padding: 30px 0 55px 0;
}

.line-menu {
  -ms-align-items: center;
  align-items: center;
  position: relative;
}

.line-menu a {
  font-weight: bold;
  text-transform: uppercase;
}

.line-menu nav {
  margin-left: 200px;
}

.line-menu .menu a  {
  color: #202020;
}

.logo {
  font-size: 16px;
  color: #ffba00;
}

.logo span {
  color: #2dcff8;
}

.menu {
  justify-content: space-between;
  width: 350px;
  font-size: 10px;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger_menu {
  }

.hamburger_colaps {
  position: absolute;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.4);
  width: 62%;
  width: 62%;
  right: 0;
  left: 0;
  top: 30px;
  margin: 0 auto;
}

.line-menu a {
  color: #fff;
  padding: 12px 0;
}

.hamburger_menu li {
  text-align: center;
  padding: 12px 0;
}

.hamburger_close  {
  background: none;
  border: none;
}

.intro {
  margin-top: 185px;
}

.intro__text {
  color: #2dcff8;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}

.intro__title,
.intro__title_text {
  font-size: 36px;
}

.intro__text_bootm {
  margin: 50px 0 60px;
  font-weight: normal;
  color: #202020;
}

.offer {
  margin-bottom: 130px;
}

.offer__btn_no {
  background: transparent;
  color: #2dcff8;
  box-shadow: none;
}

.wrapper {
  background: #fff;
  margin-left: 83px;
  width: 810px;
  padding: 25px 115px 30px 30px;
  box-shadow: 0 0 68px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.wrapper__top {
  color: #2dcff8;
  margin-bottom: 15px;
}

.wrapper__text {
  font-size: 16px;
  font-weight: normal;
}

/* ------------ Appeal ------------ */

.appeal {
  padding: 55px 0 145px;
  background: url(../img/geometric_sec2.png)no-repeat 29% 18%; /*Drawing geometric shapes*/
}

.questions {

}

.sexologist {
  width: 570px;
  z-index: 2;
}

.sexologist__top {
  color: #2dcff8;
  text-transform: uppercase;
  width: 370px;
  margin: 30px auto 40px;
  font-weight: bold;
  font-size: 24px;
}

.problem {
 
}

.problem__list {
  margin-left: -80px;
  height: 417px;
  z-index: 1;
  width: 647px;
  border: 10px solid #f6f6f6;
  padding: 35px 50px 30px 130px;
}

.problem__item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 15px;
}

.problem__item:before {
  content: '';
  display: block;
  width: 7px;
  height: 7px;
  background: #2dcff8;
  margin-right: 17px;
  transform: rotate(45deg);
}

.problem__btn {
  margin: 42px auto 0;
}

/* ------------ Consultation ------------ */

.cons {
  padding: 60px 0 40px;
  background: #2dcff8;
}

.cons__top {
  color: #fff;
  font-size: 36px;
  margin-bottom: 45px;
  position: relative;
}

.cons__top:before {
  position: absolute;
  content: 'Why Dr B Consultation?';
  left: 35px;
  top: -15px;
  font-size: 50px;
  opacity: .1;
}

.cons__list {
  margin: 0 auto;
  width: 1135px;
  justify-content: space-between;
}

.cons__img {
  display: block;
  margin: 0 auto 15px;
}

.cons__text {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  width: 165px;
}

/* ------------ Treatments ------------ */

.treatments {
  padding: 82px 60px;
  background: url(../img/kube_28.png) no-repeat left 30%,
              url(../img/Geometric_sec4.png) no-repeat top center / 70% 95%; /*Drawing geometric shapes*/
}

.treatments__top {
  text-align: center;
  font-size: 35px;
  color: #2dcff8;
  margin-bottom: 20px;
}

.treatments__text {
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  margin-bottom: 70px;
}

.treatments__list {
  justify-content: space-between;
}

.treatments__img {
  width: 360px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.treatments__head {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 65px;
  position: relative;
}

.treatments__head:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 180%;
  width: 75px;
  height: 5px;
  background: #2dcff8;
}

.treatments__item:nth-child(2) .treatments__head:after {
  background: #ffba00;
}

.treatments__roster {
  margin: 0 auto;
  width: 300px;
}

.treatments__roster li {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  line-height: 1.5em;
}

.treatments__roster li:before {
  content: '';
  display: block;
  width: 7px;
  height: 7px;
  background: #2dcff8;
  margin-right: 17px;
  transform: rotate(45deg);
}

.treatments__item:nth-child(3) .treatments__roster li:nth-child(5):before  {
  margin-bottom: 22px;
  width: 11px;
}

.treatments__item:nth-child(3) .treatments__roster li:nth-child(6):before  {
  margin-bottom: 22px;
}

/* ------------ Online ------------ */

.online {
  padding: 85px 0 85px;
  background: #2dcff8;
}

.online .container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}

.online:after {
  content: '';
  width: 100%;
  height: 76px;
  margin-top: -180px;
  display: block;
  background: url(../img/sec_5.png) no-repeat center top / 100%;
  position: relative;
}

.online:before {
  content: '';
  width: 100%;
  height: 76px;
  margin-top: 70px;
  position: absolute;
  display: block;
  background: url(../img/sec_5_b.png) no-repeat center bottom / 100%;
}

.online__text {
  font-size: 30px;
  color: #fff;
}

.online__list {
  width: 664px;
  justify-content: space-between;
}

.online__list li span {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #2dcff8;
}

.online__list li {
  padding: 14px 20px 12px 40px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  width: 200px;
  background: #fff;
  border-radius: 5px
}

/* ------------ Works ------------ */

.works {
  padding: 80px 0;
  background: url(../img/Works_Geometric.png) no-repeat center center;
}

.works__top {
  font-size: 36px;
  text-align: center;
  color: #2dcff8;
  margin-bottom: 20px;
}

.works__text {
  text-align: center;
  font-size: 16px;
  line-height: 1.5em;
  margin-bottom: 70px;
}

.steps {
  -ms-align-items: center;
  align-items: center;
  height: 333px;
  margin-bottom: 85px;
  background: url('../img/elips.png') no-repeat center center / contain;
}

.steps__list {
  justify-content: space-between;
}

.steps__list li {
  width: 265px;
  height: 190px;
  box-shadow: 0 0 18px 2px rgba( 0, 0, 0, 0.1);
  border-radius: 30px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-content: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  text-align: center;
  position: relative;
  background: #fff;
}

.steps__list li:after {
  position: absolute;
  display: block;
  content: '';
  width: 220px;
  height: 150px;
  left: 20px;
  top: 20px;
  border: 1px dashed #e00557;
  border-radius: 30px;
}

.steps__list .steps__item_step1:after {
  border: 1px dashed #2dcff8;
}

.steps__list .steps__item_step3:after {
  border: 1px dashed #2aea89;
}

.steps__list .steps__item_step4:after {
  border: 1px dashed #a730f2;
}

.steps__head {
  font-weight: bold;
  font-size: 24px;
}

.steps__head span {
  font-size: 42px;
}

.steps__item:nth-child(1) .steps__text {
  width: 125px;
  margin: 0 auto;
}

.steps__item:nth-child(2) .steps__text {
  width: 180px;
  margin: 0 auto;
}

.steps__item:nth-child(3) .steps__text {
  width: 125px;
  margin: 0 auto;
}

.steps__item:nth-child(4) .steps__text {
  width: 160px;
  margin: 0 auto;
}

.steps__item:nth-child(1) .steps__head {
  color: #2dcff8;
}

.steps__item:nth-child(2) .steps__head {
  color: #e00557;
}

.steps__item:nth-child(3) .steps__head {
  color: #2aea89;
}

.steps__item:nth-child(4) .steps__head {
  color: #a730f2;
}

.steps__item_step1 {
  margin-top: 10px;
}

.steps__item_step2 {
  margin-top: 85px;
}

.steps__item_step3 {
  margin-top: 65px;
}

.steps__item_step4 {
  margin-top: 125px;
}

.works__btn {
  margin: 0 auto;
}

/* ------------ Doctors ------------ */

.doctors {
  padding: 60px 0 90px;
  background: #f8fbfd url('../img/doctor_geometric.png') no-repeat 53% 76% / 74% 61%;

}

.doctors__top {
  text-align: center;
  font-size: 36px;
  color: #2dcff8;
  margin-bottom: 20px;
}

.doctors__text {
  text-align: center;
  font-size: 16px;
  margin-bottom: 80px;
}

  /* ------ Slider ------ */

.image_slider {
    display: block;
    height: 471px;
    margin-left: 100px;
}

.image_slider .image_slider__container {
    position: relative;
    height: 100%;
}

.image_slider .slider_info {
    display: none;
    position: absolute;
    height: 100%;
}

.image_slider .slider_image_container {
    display: none;
    position: absolute;
    background: #ffffff
}

.image_slider .slider_image {
    border-radius: 10px;
    height: 100%;
}

.image_slider .slider_buttons_container {
    position: absolute;
    width: 100px;
    height: 50px;
    bottom: 0px;
    left: 0px;
}

.image_slider .slider_button {
    position: absolute;
    opacity: 0.5;
    width: 40px;
    height: 40px;
    border: 1px solid #2dcff8;
    background-color: transparent;
    border-radius: 5px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

.image_slider .slider_button:hover {
    opacity: 1;
}

.image_slider .slider_button__next {
    left: 50%;
}

.info__name {
  margin-top: 70px;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

.info__text {
  width: 390px;
  font-size: 16px;
  margin-bottom: 50px;
}

/* ------------ Smart ------------ */

.smart {
  padding: 70px 0 75px;
  background: url('../img/elips2.png') no-repeat 40% 88% / 68% 74%;
}

.smart__top {
  text-align: center;
  font-size: 36px;
  color: #2dcff8;
  margin-bottom: 70px;
}

.smart__list {
  justify-content: space-between;
  margin-bottom: 70px;
}

.smart__item {
  width: 165px;
  height: 165px;
  border-radius: 30px;
  box-shadow: 0 0 18px 2px rgba( 0, 0, 0, 0.1);
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  position: relative;
  background: #fca600;
  z-index: 2;
  transform: rotate(10deg);
}

.smart__item:after {
  content: '';
  display: block;
  width: 165px;
  height: 165px;
  background: #fff;
  transform: rotate(-10deg);
  position: absolute;
  border-radius: 30px;
  z-index: -1;
}

.smart__item img {
  top: 30px;
  left: 50px;
  position: absolute;
  transform: rotate(-10deg);
}

.smart__item p {
  position: absolute;
  transform: rotate(-10deg);
  font-weight: bold;
  font-size: 14px;
  bottom: 43px;
}

.smart__item:nth-child(2),
.smart__item:nth-child(4) {
  margin-top: 90px;
  background: #2dcdf6;
  transform: rotate(-10deg);
}

.smart__item:nth-child(2)::after,
.smart__item:nth-child(4)::after {
  transform: rotate(10deg);
}

.smart__item:nth-child(2) img,
.smart__item:nth-child(4) img {
  transform: rotate(10deg);
  left: 0;
  right: 0;
  margin: 0 auto;
}

.smart__item:nth-child(2) p,
.smart__item:nth-child(4) p {
  transform: rotate(10deg);
  left: -13px;
  right: 0;
  margin: 0 auto;
}

.smart__btn {
  margin: 0 auto;
}

/* ------------ Patients ------------ */

.patients {
  padding: 40px 75px;
  background: #2dcff8;
  color: #fff;
}

.patients__top {
  text-align: center;
  font-size: 30px;
  color: #fff;
  margin-bottom: 80px;
  position: relative;
}

.patients__top:before {
  position: absolute;
  content: 'Patients love Dr B consulting';
  right: 278px;
  top: -15px;
  font-size: 36px;
  opacity: .1;
}

.patients__offer {
  justify-content: space-between;
}

  /* ------ Slider ------ */

.slider_text {
  display: block;
  height: 310px;
  width: 660px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

.slider_text:after  {
  content: '';
  display: block;
  height: 160px;
  width: 1px;
  background: #fff;
  position: absolute;
  right: 0;
  top: 30%;
}

.slider_text:before {
  content: '\201D';
  position: absolute;
  left: -70px;
  top: 10px;
  font-size: 122px;
}

.slider_text .slider_text__container {
  position: relative;
  height: 100%;
}

.slider_text .text_slide {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.slider_text .slider_buttons_container {
  position: absolute;
  width: 100px;
  height: 50px;
  bottom: 0px;
  left: 400px;
}

.slider_text .slider_button {
  position: absolute;
  opacity: 0.5;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 5px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.slider_text .slider_button:hover {
  opacity: 1;
}

.slider_text .slider_button__next {
  left: 50%;
}

.text_slide h3 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 40px;
}

.text_slide p {
  width: 495px;
}

.patients__list {
  width: 598px;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.patients__item {
  width: 216px;
  margin-bottom: 30px;
  margin-left: 50px;
}

.patients__img {
  margin-bottom: 20px;
}

.patients__hader {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

/* ------------ Help ------------ */

.help {
  padding: 65px 0;
  background: url('../img/paty.png') no-repeat 25% bottom,
              url('../img/help_dg.png') no-repeat  0% 89%/ 88% 93%;
}

.help__offer {
  width: 465px;
  margin-left: auto;
}

.help__top {
  font-size: 36px;
  color: #2dcff8;
  margin-bottom: 30px;
}

.help__list {
  margin-bottom: 35px;
}

.help__item {
  margin-bottom: 15px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position: relative;
  margin-left: 40px;
}

.help__item:after {
  content: '';
  display: block;
  height: 18px;
  width: 18px;
  left: -40px;
  position: absolute;
  background: url('../img/check.png') no-repeat center center / cover;

}

.help__item p {
  font-size: 14px;
}

.help__img {
  display: none;
}

/* ------------ Contact ------------ */

.contact {
  padding: 55px 0 75px;
  background: #f8fbfd url('../img/doc.png') no-repeat right / 100%;
}

.cont__top {
  font-size: 24px;
  color: #2dcff8;
  margin-bottom: 30px;
}

.cont__text {
  width: 365px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.4em;
}

  /* ------ Form ------ */

.form {
  width: 460px;
}

form .form__commit {
  height: 163px;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

label {
  margin-top: 20px;
}

.modal-dialog label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.error {
  margin-top: 0;
}

.form__bottom_text {
  width: 210px;
  margin-left: 37px;
  margin-top: -31px;
}

.form__commit {
  resize: none;
}

form .checkbox {
  margin-top: 25px;
}

.modal-dialog form {
  padding: 50px 70px 45px 70px;
  width: 600px;
  border-radius: 30px;
  border: 5px solid #2dcff8;
  background: #fff;
}

.modal-dialog form h2 {
  font-size: 30px;
  color: #2dcff8;
  margin-bottom: 20px;
}

.modal-dialog form p {
  margin-bottom: 30px;
}

.modal-dialog form .form__btn {
  margin-top: -65px;
}

#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(240, 240, 240, 0.91);
  overflow: hidden;
  display: none;
  z-index: 5;
}

/*label.error {
  font-size: 12px;
  color: red;
  position: absolute;
}

input.error {
  border: 1px solid red !important;
}

input.valid {
  border: 1px solid green !important;
}*/

#loader img {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  top: 50%;
  margin-top: -25px;
}

#overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000c;
  left: 0px;
  top: 0px;
  cursor: pointer;
  z-index: 5;
}
#thx {
  background: #fff;
  position: absolute;
  left: 50%;
  margin-left: -325px;
  top: 22%;
  padding: 30px;
  margin-top: -20px;
  font-weight: 500;
  font-size: 17px;
  line-height: 170%;
  border-radius: 30px;
  border: 5px solid #2dcff8;
  z-index: 6;
  width: 500px;
}

.tnx__top {
  color: #2dcff8;
  font-size: 30px;
  margin-bottom: 15px;
}

.tnx__text {
  margin-bottom: 75px;
}

.tnx__img {
  display: block;
  margin: 0 auto;
}

  /* ------ checkbox ------ */

.form__btn {
  width: 165px;
  margin-left: auto;
  border: 1px solid transparent;
  margin-top: -38px;
}

input[type=checkbox], input[type=radio] {display: none;}

input[type=checkbox] + label:before,
.modal-dialog input[type=checkbox] + label:before  {
    content: "\2713";
    color: transparent;
    display: inline-block;
    border: 1px solid #2dcff8;
    font-size: 20px;    
    line-height: 22px;
    margin: -5px 5px 0 0;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
}

input[type=checkbox]:checked + label:before,
.modal-dialog input[type=checkbox]:checked + label:before  {
    color: #2dcff8;
}

input[type=radio] + label:before,
.modal-dialog input[type=radio] + label:before {
    content: "\26AB";
    border: 1px solid #2dcff8;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #2dcff8;
    font-size: 20px;    
    line-height: 20px;
    margin: -5px 5px 0 0;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 0;    
    transition: font-size ease .3s;
}
input[type=radio]:checked + label:before,
.modal-dialog input[type=radio]:checked + label:before {
    font-size: 20px;    
}


/* ------------ Footer ------------ */

.footer {
  padding: 23px 0 20px;
  background: #58778c;
  color: #fff;
}

.footer a {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.mail {
  font-size: 14px;
}

.priv {
  font-size: 12px;
}

.footer .container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
 }

 /* ------ Modal window end ------ */ 

@media screen and (max-width: 1500px) {
  .online:before {
    margin-top: 50px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 1120px;
  }
  .header {
    background: url(../img/Geometric.png)no-repeat 0% 25% / 89% 76%,
                url(../img/Background.png)no-repeat top center / contain;
  }
  .line-menu nav {
    margin-left: 143px;
  }
  .treatments__list {
    width: 1065px;
  }
  .treatments__img {
    width: 345px;
  }
  .online:before {
    margin-top: 50px;
  }
  .online:after {
    width: 100%;
    margin-top:168px;
  }
  .slider_text {
    width: 554px;
  }
}

@media screen and (max-width: 1024px) {
  .treatments {
    padding: 80px 0;
  }
  .container {
    width: 996px;
  }
  .header {
    background: url(../img/Geometric.png)no-repeat 71% 15% / 117% 74%,                                    
                url(../img/head_one.png)no-repeat top right / 40%,                  
                url(../img/head_kube.png)no-repeat left 10% / 10% 20%; 
  }
  .sexologist__top {
    font-size: 18px;
  }
  .sexologist__img {
    width: 460px;
  }
  .problem__list {
    width: 570px;
  }
  .cons__list {
    width: 950px;
  }
  .treatments__img {
    width: 300px;
  }
  .treatments__list {
    width: 955px;
  }
  .steps__list li {
    width: 220px;
  }
  .steps__list li:after {
    width: 184px;
  }
  .image_slider {
    margin-left: 0;
  }
  .text_slide p {
    width: 405px;
  }
  .slider_text .slider_buttons_container {
    left: 320px;
  }
  .patients {
    padding: 40px 0;
  }
  .patients__hader {
    font-size: 14px;
  }
  .patients__text {
    font-size: 12px;
  }
  .patients__item {
    width: 180px;
  }
  .slider_text {
    width: 526px;
    margin-left: 60px;
  }
  .online:before {
    margin-top: 40px;
  }
}

@media screen and (max-width: 998px) {    
  .patients__item {
    width: 166px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 758px;
  }
  .header {
    background: url(../img/Geometric.png)no-repeat 60% 36% / 82% 52%,                                    
                url(../img/head_one.png)no-repeat top right / 31%,                  
                url(../img/head_kube.png)no-repeat left 10% / 10% 20%;
  }
  .line-menu nav {
    margin-left: 47px;
  }
  .wrapper {
    padding: 25px;
    width: 570px;
  }
  .questions {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    align-items: center;
  }
  .problem__list  {
    margin-left: 0;
    width: 467px;
    padding: 20px 50px 20px 64px;
  }
  .sexologist__top {
    width: 100%;
    text-align: center;
  }
  .sexologist__img {
    width: 460px;
    margin: 0 auto 20px;
    display: block;
  }
  .cons__list {
    width: 380px;
    flex-wrap: wrap;
  }
  .cons__item {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .treatments__list {
    width: 750px;
    flex-direction: column;
  }
  .treatments__img {
    display: block;
    margin: 35px auto;
  }
  .treatments {
    background: url(../img/kube_28.png) no-repeat left 30%,
                url(../img/Geometric_sec4.png) no-repeat 56% 174% / 70% 63%;
  }
  .online:before {
    margin-top: 81px;
  }
  .online:after {
    margin-top: -140px;
  }
  .online__list li {
    width: 160px;
  }
  .online__text {
    font-size: 24px;
    margin-bottom: 12px;
  }
  .online {
    padding: 36px 0 24px;
    height: 173px;
  }
  .online .container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
  .steps {
    height: 100%;
    background: url('../img/elips_90.png') no-repeat 45% 48% / 29% 69%;
  }
  .steps__list {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
  }
  .smart__list {
    flex-wrap: wrap;
    width: 373px;
    -ms-align-items: center;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .patients__offer {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
  }
  .text_slide h3 {
    text-align: center;
  }
  .slider_text {
    margin-left: 0;
    width: 100%;
  }
  .text_slide p {
    width: 100%;
    text-align: center;
  }
  .slider_text:after {
    display: none;
  }
  .patients__list {
    margin: 20px auto;
    width: 439px;
  }
  .help {
    background: none;
    padding-bottom: 0;
  }
  .help__img {
    display: block;
    margin: 0 auto;
  }
  .help__offer {
    width: 444px;
    margin: 0 auto;
  }
  .help__btn {
    margin: 0 auto 30px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 550px;
  }
  .header {
    background: url(../img/Geometric.png)no-repeat 69% 11% / 183% 68%, 
    url(../img/Fon_head_min.png)no-repeat top right / 47%;
  }
  .hamburger {
    margin-left: auto;
    display: block;
  }
  .menu {
    display: none;
  }
  .offer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
  }
  .wrapper {
    margin-left: 0;
    width: 100%;
  }
  .treatments__list {
    width: 100%;
  }
  .steps {
    background: url(../img/elips_90.png) no-repeat 48% 54% / 43% 56%;
  }
  .steps__list li {
    margin-top: 40px;
  }
  .smart__list {
    width: 85%;
  }
  .online__list {
    width: 100%;
  }
  .problem__list {
    border: none;
  }
  .patients__list {
    justify-content: center;
  }
  .treatments {
    background: none;
  }
  .slider_text {
    margin-right: 0;
  }
  .patients__list {
    width: 100%;
  }
  .online {
    height: 290px;
  }
  .online__list {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
  }
  .online__list li {
    margin-bottom: 15px;
  }
  .online:before {
    margin-top: 190px;
  }
  .online:after {
    margin-bottom: -236px;
  }
  .contact {
    background: none;
  }
  .footer .container {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;-ms-align-items: center;
    align-items: center;
  }
  .footer .container a,
  .footer .container p {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 320px) {
  .btn {
    width: 100%;
  }
  .online__text {
    text-align: center;
  }
  .container {
    width: 90%;
  }
  .header {
    background: url(../img/Geometric.png)no-repeat 69% 3% / 173% 27%,       
                url(../img/Fon_head_min.png)no-repeat top right / 47%;
  }
  .sexologist__top  {
    font-size: 12px;
  }
  .sexologist__img {
    width: 50%;
  }
  .problem__list {
    width: 100%;
    padding: 5px
  }
  .cons__list {
    width: 100%;
  }
  .treatments__img  {
    width: 100%;
  }
  .smart__item:nth-child(2), 
  .smart__item:nth-child(4) {
    margin-bottom: 90px;
  }
  .smart__btn {
    width: 100%;
    margin-top: 50px;
  }
  .smart__list {
    width: 63%;
  }
  .slider_text:before {
    content: '';
  }
  .patients__item {
    text-align: center;
    margin-left: 0;
  }
  .patients__list {
    margin-top: 50px;
  }
  .cont__text {
    width: 100%;
  }
  .form {
    width: 100%;
  }
  .form__btn {
    margin-top: 30px;
  }
  .help__offer {
    width: 100%;
  }
  .patients__top {
    margin-bottom: 40px;
  }
  .modal-dialog form {
    width: 100px;
    min-width: 300px;
    padding: 20px;
  }
  .modal-dialog form .form__btn {
    margin-top: 0;
  } 
}



